.hamburger .ant-drawer-header-title {
  flex-direction: row-reverse;
  color: white;
}

.main-drawer .ant-drawer-header-title {
  flex-direction: row-reverse;
}

.main-drawer .ant-drawer-content-wrapper {
  height: calc(100dvh - (64px + 64px)) !important;
}

.hamburger .anticon-close {
  color: white;
}

.hamburger .ant-drawer-header {
  background: #eb0a23;
}

.mapboxgl-ctrl-group {
  margin-top: 80px !important;
}
